<div class="logRegContainer">
    <header>Strona logowania użytkowników - Filemanager</header>

    <div class="aLogReg"><a href="/register">Rejestracja</a></div>

    <form method="POST" action="/loginSub" class="logForm">
        <input type="text" placeholder="Login" name="logName" class="log-input">
        <input type="text" placeholder="Hasło" name="logPass" class="pass-input">
        <input type="submit" value="Zaloguj" class="sub-btn">
    </form>
</div>

<script src="/js/login.js"></script>