<div class="logRegContainer">
    <header>Strona rejestrowania użytkowników - Filemanager</header>

    <div class="aLogReg"><a href="/login">Logowanie</a></div>

    <form method="POST" action="/registerSub" class="logForm">
        <input type="text" placeholder="Login" name="regName">
        <input type="text" placeholder="Hasło" name="regPass">
        <input type="text" placeholder="Potwierdź hasło" name="validPass">
        <input type="submit" value="Zarejestruj">
    </form>
</div>