.fileName {
    text-align: center;
    font-size: 22px;
    margin: 20px;
}

.lines{
    width: 30px;
    text-align: center;
}

textarea{
    width: 670px;
    border: none;
    border-left: 2px solid darkgray;
    overflow: auto;
}

textarea:focus{
    border: none;
    outline: none;
}

.textEditor {
    width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    margin: 5px 10px 5px 10px;
}