@import url('./upload.css');
@import url('./navbar.css');
@import url('./container.css');
@import url('./dialog.css');
@import url('./edytor.css');
@import url('./images.css');
@import url('./users.css');
@import url('./fancybutton.css');

* {
    font-family: monospace;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
