@import url('./file-upload.css');
@import url('./navbar.css');
@import url('./main-element.css');
@import url('./dialog.css');
@import url('./edytor.css');

* {
    font-family: monospace;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}